* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    text-align: center;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6600; 
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: #364f6b;
}

.tengah {
    text-align: center;
    width: 100%;
}

/* Style untuk daftar partner */

.clients-container {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    animation: scroll 20s linear infinite;
}

.swiper-slide {
    flex: auto;
    width: 200px; 
    margin-right: 20px;
}


.swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.link-discord img {
    width: 20px;
    margin: 0 auto;
    border-radius: 50%;
}