@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
.btn {
    transition: all 300ms ease;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    text-align: center;
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6600; 
    text-decoration: underline;
    text-underline-offset: 1rem;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile {
    display: flex;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.profile-picture {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%; /* Ini membuat foto menjadi bulat */
    margin-right: 20px; /* Jarak antara foto dan teks */
}

.profile-picture img {
    max-width: 100%;
    height: auto;
}

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}
  
.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
  
.project-title {
    margin: 1rem;
    color: black;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: black;
    border-color: rgb(163, 163, 163);
    border: rgb(53, 53, 53) 0.1rem solid;
}

.project-desc-p1 {
    text-align: center;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

#about {
    position: relative;
}

.about-text-p1 {
    text-align: center;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
  
.about-details-container {
    justify-content: center;
    flex-direction: column;
}
  
.about-containers,
.about-details-container {
    display: flex;
}
  
.about-pic {
    border-radius: 2rem;
}
  
.section-container {
    gap: 4rem;
    height: 80%;
}
  
.section-pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}
